.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100px;
  height: 130px;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.item-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.item-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icon-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.animated-icon,
.animated-second-icon {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: #f5f5f5;
  transition: transform 1s ease-out, opacity 1s ease-out;
  z-index: 1000;
}

.animated-icon {
  left: 25%;
}

.animated-second-icon {
  left: 75%;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) scale(3) rotate(360deg);
  }
}

.animate {
  animation: spin 0.5s ease-out forwards;
  opacity: 1;
}

.stop-rotation {
  transform: translate(-50%, -50%) scale(3) !important;
}
